<article class="product-card">
    <div class="image-container">
        <img class="product-image" src="/images/products/<%= element.photo %>" alt="">
    </div>
    <p class="product-name"><%= element.name %></p>
    <div>
        <span class="product-price"><%= element.price %></span>
        <button class="addToCart-button"><i class="fa-solid fa-cart-plus"></i></button>
    </div>
    
</article>