<article class="productCard">
    <div class="imageContainer">
        <img class="productImage" src="/images/assets/productDefault.png" alt="">
    </div>
    <p class="productName"><%= element.name %></p>
    <div>
        <span class="productprice"><%= element.price %></span>
        <button class="addToCartButton"><i class="fa-solid fa-cart-plus"></i></button>
    </div>
    
</article>