<article class="productCard">
    <div class="imageContainer">
        <img class="productImage" src="/images/assets/productDefault.png" alt="">
    </div>
    <p class="productName">Sticker</p>
    <div>
        <span class="productprice">$300</span>
        <button class="addToCartButton">🛒</button>
    </div>
    
</article>