<div class="divBanner">

    <i class="fa-solid fa-shield-halved DivBannerIcon"></i>
    <div class="divBannerText">
        <p class="divBannerTextP">
            Confiable
        </p>
        <p class="divBannerTextP">
            nuestros servicios se encuentras protegidos por sus propios desarrolladores.
        </p>
    </div>

    <i class="fa-solid fa-paintbrush DivBannerIcon"></i>
    <div class="divBannerText">
        <p class="divBannerTextP">
            Sustentable
        </p>
        <p class="divBannerTextP">
            nuestros productos son de desarrollo y produccionlocal.
        </p>
    </div>

    <i class="fa-solid fa-handshake DivBannerIcon"></i>
    <div class="divBannerText">
        <p class="divBannerTextP">
            Amigable
        </p>
        <p class="divBannerTextP">
            Queremos que te sientas comodx al hacer negocios con nosotras.
        </p>
    </div>
</div>