<div class="div-banner">
    <div class="div-banner-text">
        <i class="div-banner-icon fa-solid fa-shield-halved"></i>
        <span class="div-banner-text-span">
            Confiable
        </span>
        <p class="div-banner-text-p">
            nuestros servicio se encuentra protegido por sus propios desarrolladores.
        </p>
    </div>

    <div class="div-banner-text">
        <i class="div-banner-icon fa-solid fa-paintbrush"></i>
        <span class="div-banner-text-span">
            Sustentable
        </span>
        <p class="div-banner-text-p">
            nuestros productos son de desarrollo y produccion local.
        </p>
    </div>

    <div class="div-banner-text">
        <i class="div-banner-icon fa-solid fa-handshake"></i>
        <span class="div-banner-text-span">
            Amigable
        </span>
        <p class="div-banner-text-p">
            Queremos que te sientas comodx al hacer negocios con nosotras.
        </p>
    </div>
</div>