<div class="divBanner">

    <div class="divBannerText">
        <i class="fa-solid fa-shield-halved divBannerIcon"></i>
        <span class="divBannerTextSpan">
            Confiable
        </span>
        <p class="divBannerTextP">
            nuestros servicios se encuentras protegidos por sus propios desarrolladores.
        </p>
    </div>

    <div class="divBannerText">
        <i class="fa-solid fa-paintbrush divBannerIcon"></i>
        <span class="divBannerTextSpan">
            Sustentable
        </span>
        <p class="divBannerTextP">
            nuestros productos son de desarrollo y produccionlocal.
        </p>
    </div>

    <div class="divBannerText">
        <i class="fa-solid fa-handshake divBannerIcon"></i>
        <span class="divBannerTextSpan">
            Amigable
        </span>
        <p class="divBannerTextP">
            Queremos que te sientas comodx al hacer negocios con nosotras.
        </p>
    </div>
</div>