<div style="color: beige;">
    Gorros
    <ul class="DashboardItems">
        <% products.Stickers.forEach(product=> { %>
            <%- include('dashboardItem',{product:product}) %>
                <% }) %>
    </ul>
    Buzos
    <ul class="DashboardItems">
        <% products.Buzos.forEach(product=> { %>
            <%- include('dashboardItem',{product:product}) %>
                <% }) %>
    </ul>
    Posters
    <ul class="DashboardItems">
        <% products.Posters.forEach(product=> { %>
            <%- include('dashboardItem',{product:product}) %>
                <% }) %>
    </ul>
    Gorros
    <ul class="DashboardItems">
        <% products.Gorros.forEach(product=> { %>
            <%- include('dashboardItem',{product:product}) %>
                <% }) %>
    </ul>
</div>