<footer class="JimenisimaFooter">
    <div class="commentBox">

        <a class="HomePath" href="/">
            <img src="/images/assets/jimenisimaLogo.png" alt="Jimenisima" class="logoImg">
        </a>
        <div class="commentInputBox" >
            <p class="commentInputTitle">Dejanos tu comentario</p>
            <input type="text" class="commentInputName">
            <textarea class="commentInputContent"></textarea>
        </div>

    </div>
    <div class="infoBox">

        
        <div class="footerSection">
            <span class="footerSectionTitle" >Contactos</span>
            <ul class="footerSectionList">
                <li class="footerSectionListItem"><i class="footerSectionListItemItem fa-solid fa-phone"></i> 351 351 3513</li>
                <li class="footerSectionListItem"><i class="footerSectionListItemItem fa-solid fa-location-dot"></i> Calle Falsa 123</li>
                <li class="footerSectionListItem"><i class="footerSectionListItemItem fa-regular fa-envelope"></i> Jimenisima@test.com</li>
            </ul>
        </div>
        
        <div class="footerSection">
            <span class="footerSectionTitle" >Redes</span>
            <ul class="footerSectionList">
                <li class="footerSectionListItem"><i class="footerSectionListItemItem fa-brands fa-facebook"></i> @Jimenisima</li>
                <li class="footerSectionListItem"><i class="footerSectionListItemItem fa-brands fa-instagram"></i> @Jimenisima</li>
                <li class="footerSectionListItem"><i class="footerSectionListItemItem fa-brands fa-twitter"></i> @Jimenisima</li>
            </ul>
        </div>
        <div class="footerSection">
            <span class="footerSectionTitle" >Modos de pago</span>
            <ul class="footerSectionList">
                <li class="footerSectionListItem"><i class="footerSectionListItemItem fa-solid fa-money-bill-wave"></i> efectivo</li>
                <li class="footerSectionListItem"><i class="footerSectionListItemItem fa-solid fa-building-columns"></i> deposito</li>
                <li class="footerSectionListItem"><i class="footerSectionListItemItem fa-solid fa-mobile-button"></i> transferencia</li>
            </ul>
        </div>
    </div>
        <div class="footerCredits">
            developed by Luna Lisarazo
        </div>
</footer>