<footer class="Jimenisima-footer">
    <div class="comment-box">

        <a class="home-path" href="/">
            <img src="/images/assets/jimenisimaLogo.png" alt="Jimenisima" class="logo-img">
        </a>
        <div class="comment-inputBox" >
            <p class="comment-input-title">Dejanos tu comentario</p>
            <input type="text" class="comment-input-name">
            <textarea class="comment-input-content"></textarea>
        </div>

    </div>
    <div class="info-box">        
        <div class="footer-section">
            <span class="footer-section-title" >Contactos</span>
            <ul class="footer-section-list">
                <li class="footer-section-list-item"><i class="footer-section-list-item-item fa-solid fa-phone"></i> 351 351 3513</li>
                <li class="footer-section-list-item"><i class="footer-section-list-item-item fa-solid fa-location-dot"></i> Calle Falsa 123</li>
                <li class="footer-section-list-item"><i class="footer-section-list-item-item fa-regular fa-envelope"></i> Jimenisima@test.com</li>
            </ul>
        </div>
        
        <div class="footer-lection">
            <span class="footer-section-title" >Redes</span>
            <ul class="footer-section-list">
                <li class="footer-section-list-item"><i class="footer-section-list-item-item fa-brands fa-facebook"></i> @Jimenisima</li>
                <li class="footer-section-list-item"><i class="footer-section-list-item-item fa-brands fa-instagram"></i> @Jimenisima</li>
                <li class="footer-section-list-item"><i class="footer-section-list-item-item fa-brands fa-twitter"></i> @Jimenisima</li>
            </ul>
        </div>
        <div class="footer-section-title">
            <span class="footerSectionTitle" >Modos de pago</span>
            <ul class="footer-section-list">
                <li class="footer-section-list-item"><i class="footer-section-list-item-item fa-solid fa-money-bill-wave"></i> efectivo</li>
                <li class="footer-section-list-item"><i class="footer-section-list-item-item fa-solid fa-building-columns"></i> deposito</li>
                <li class="footer-section-list-item"><i class="footer-section-list-item-item fa-solid fa-mobile-button"></i> transferencia</li>
            </ul>
        </div>
    </div>
        <div class="footer-credits">
            developed by Luna Lisarazo
        </div>
</footer>