<header class="jimenisimaHeader">
    <div class="userIngressDiv">
        <div class="GoogleAuthImgContainer">
            <div class="GoogleAuthContent">
                <a class="GoogleAuthRoute" href="" class="GoogleAuthContentPath">
                    Ingresar con Google
                </a>
            </div>
            <img src="/images/assets/userDefault.png" alt="ingreso con google" class="userDefaultImg">
        </div>
            <div class="userIngressOptionsDiv">
            <a class="loginPath" href="/auth">
                <span class="loginText">Iniciar Sesion</span>
            </a>
            <a class="registerPath" href="">
                <span class="registerText">Crear cuenta
                </span>
            </a>
        </div>
    </div>
    
        <a class="HomePath">
            <img src="/images/assets/jimenisimaLogo.png" alt="Jimenisima" class="logoImg">
        </a>
   
</header>