<div class="highlightContainer">
    <p class="highlightTitle">Recomendaciones <i class="fa-regular fa-face-smile-wink"></i> <i class="fa-regular fa-heart"></i> <i class="fa-solid fa-fire"></i></p>
    <ul class="resultsList">
        <% products.forEach(element => { %>
            <%- include('article',{element}) %>         
        <% }) %>
    </ul>
</div>