<main class="formularyMain">

    <form class="formularyForm" action="" name="loginForm" method="POST">
        <label class="formularyLabel" for="email"> Email : <input class="formularyInput" id="email" type="email"></label>
        <label class="formularyLabel" for="password"> Password : <input class="formularyInput" id="password" type="password"></label>
        <button class="formularyButton" >Ingresar</button>
    </form>
    <a class="formularyHref" href="">Crear cuenta</a>
    <a class="formularyHref" href="">Ingresar con Google</a>
    <a class="formularyHref" href="">Olvide mi contraseña</a>

</main>