<main class="loginMain">

    <form class="loginForm" action="" name="loginForm" method="POST">
        <label class="loginLabel" for="email"> Email <input class="loginInput" id="email" type="text"></label>
        <label class="loginLabel" for="password"> Password <input class="loginInput" id="password" type="password"></label>
        <button class="loginButton" >Ingresar</button>
    </form>
    <a class="loginHref" href="">Crear cuenta</a>
    <a class="loginHref" href="">Ingresar con Google</a>
    <a class="loginHref" href="">Olvide mi contraseña</a>

</main>