<nav class="Jimenisima-navbar">
    <div class ="categories-list-ribbon">
        <ul class="categories-list">
            <li class="selected-categorie-item"><%= "Todo" %></li>
            <%  for( let i = 0; i < categoriesList.length; i++ ) { %>
                <li class="unselected-categorie-item"><%= categoriesList[i] %></li>
            <% } %>
        </ul>
    </div>
    
</nav>