<nav class="jimenisimaNavbar">
    <div class ="categoriesListRibbon">
        <ul class="categoriesList">
            <%  for( let i = 0; i < categoriesList.length; i++ ) { %>
                <li class="categorieItem"><%= categoriesList[i] %></li>
            <% } %>
        </ul>
    </div>
    <form action="/" class="searchForm" name="searchForm" method="POST">
        <input class="formInput" name="serchInput" type="text" placeholder="Busca en Jimenisima">
        <i class="fa-solid fa-magnifying-glass"></i>

    </form>
</nav>