<nav class="jimenisimaNavbar">
    <div class ="categoriesListRibbon">
        <ul class="categoriesList">
            <%  for( let i = 0; i < categoriesList.length; i++ ) { %>
                <li class="categorieItem"><%= categoriesList[i] %></li>
            <% } %>
        </ul>
    </div>
    <form class="searchForm" name="searchForm" method="GET">
        <input class="formInput" name="serchInput" type="text" placeholder="Busca en Jimenisima">
        <button class="formButton" name="serchSubmit"><i class="fa-solid fa-magnifying-glass"></i></button>

    </form>
</nav>