<nav class="jimenisimaNavbar">
        <ul class="categoriesList">
            <li class="categorieItem"><a href="">Todo</a> </li>
            <li class="categorieItem"><a href="">Stickers</a> </li>
            <li class="categorieItem"><a href="">Buzos</a> </li>
            <li class="categorieItem"><a href="">Hologramas</a> </li>
            <li class="categorieItem"><a href="">Buzos</a> </li>
            <li class="categorieItem"><a href="">Posters</a> </li>
        </ul>
    <form class="searchForm" name="searchForm">
        <input class="formInput" name="serchInput" type="text" value="Busca en Jimenisima">
         <button class="formButton" name="serchSubmit" >🔍</button>

    </form>
</nav>