<main class="formularyMain">

    <form class="formularyForm" action="" name="registerForm" method="POST">
        <label class="formularyLabel" for="name">Nombre : <input class="formularyInput" name="name" id="name"
                type="text"></label>
        <label class="formularyLabel" for="alias">Alias : <input class="formularyInput" name="alias" id="alias"
                type="text"></label>
        <label class="formularyLabel" for="email">Email : <input class="formularyInput" name="email" id="email"
                type="email"></label>
        <label class="formularyLabel" for="password">Password : <input class="formularyInput" name="password"
                id="password" type="password"></label>
        <button class="formularyButton">registrar</button>
    </form>
    <a class="formularyHref" href="">registrarse con google</a>
    <a class="formularyHref" href="">Informacion importante</a>
</main>