<main class="formulary-main">

        <form class="formulary-form" action="" name="registerForm" method="POST">
                <label class="formulary-form-label" for="name">Nombre : <input class="formulary-form-label-input"
                                name="name" id="name" type="text"></label>
                <label class="formulary-form-label" for="alias">Alias : <input class="formulary-form-label-input"
                                name="alias" id="alias" type="text"></label>
                <label class="formulary-form-label" for="email">Email : <input class="formulary-form-label-input"
                                name="email" id="email" type="email"></label>
                <label class="formulary-form-label" for="password">Contraseña : <input class="formulary-form-label-input"
                                name="password" id="password" type="password"></label>
                <label class="formulary-form-label" for="password2">Confirmacion : <input class="formulary-form-label-input"
                                name="password2" id="password2" type="password"></label>
        </form>
        <button class="formulary-form-button">registrar</button>
        <a class="formulary-a" href="">registrate con google</a>
        <a class="formulary-a" href="">Informacion importante</a>
</main>