<div class="resultsContainer">
    <ul class="searchesList">
        <% products.forEach(element => { %>
            <% for( let index = 0; index < element.tag.length; index++ ) { %>
                <li class="searchesItem"><p class="searchesTerm"><%=  element.tag[index] %></p><button class="searchesTermDelete">x</button></li> 
                
            <% } %>      
        <% }) %>
          
    </ul>
    <div class="resultsList">
        <% products.forEach(element => { %>
            <%- include('article',{element}) %>         
        <% }) %>
    </div>
</div>