<div class="results-container">
    <ul class="searches-ul">
        <% products.forEach(element => { %>
            <% for( let index = 0; index < element.tag.length; index++ ) { %>
                <li class="searches-ul-li"><p class="searches-ul-li-p"><%=  element.tag[index] %></p><button class="searches-ul-li-button">x</button></li> 
                
            <% } %>      
        <% }) %>
          
    </ul>
    <div class="results-div">
        <% products.forEach(element => { %>
            <%- include('article',{element}) %>         
        <% }) %>
    </div>
</div>