<div class="resultsContainer">
    <ul class="searchesList">
        <li class="searchesItem"><p class="searchesTerm">fire</p><button class="searchesTermDelete">x</button></li> 
        <li class="searchesItem"><p class="searchesTerm">pokemon</p><button class="searchesTermDelete">x</button></li> 
        <li class="searchesItem"><p class="searchesTerm">criminal</p><button class="searchesTermDelete">x</button></li> 
    </ul>
    <ul class="resultsList">
        <article class="productCard">
            <div class="imageContainer">
                <img class="productImage" src="/images/assets/productDefault.png" alt="">
            </div>
            <p class="productName">Sticker</p>
            <div>
                <span class="productprice">$300</span>
                <button class="addToCartButton">🛒</button>
            </div>
            
        </article>
    </ul>
</div>