<div class="resultsContainer">
    <ul class="searchesList">
        <li class="searchesItem"><p class="searchesTerm">fire</p><button class="searchesTermDelete">x</button></li> 
        <li class="searchesItem"><p class="searchesTerm">pokemon</p><button class="searchesTermDelete">x</button></li> 
        <li class="searchesItem"><p class="searchesTerm">criminal</p><button class="searchesTermDelete">x</button></li> 
    </ul>
    <div class="resultsList">
        <% products.forEach(element => { %>
            <%- include('article',{element}) %>         
        <% }) %>
    </div>
</div>