<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>
    <%- include('./partials/header',) %>
    <div class="container" style="--font-color: white;">
        <h1>Bienvenidx a Jimenisima</h1>
        <p>En Jimenisima, nos enorgullece ofrecer más que productos o servicios; ofrecemos una experiencia que se basa en tres pilares fundamentales que guían cada uno de nuestros pasos: confianza, sustentabilidad y amigabilidad.</p>
        
        <p><strong>Confianza:</strong> Para nosotros, la confianza es el cimiento de cualquier relación. Nos esforzamos en construir y mantener la confianza de nuestros clientes, socios y colaboradores en cada transacción y decisión que tomamos. La integridad y la transparencia son nuestra promesa constante, porque creemos que la confianza es el puente hacia relaciones duraderas y exitosas.</p>
        
        <p><strong>Sustentabilidad:</strong> En un mundo que demanda un enfoque más responsable con el medio ambiente y la sociedad, nos enorgullece liderar el camino hacia un futuro más sostenible. Nuestros productos y prácticas empresariales están diseñados cuidadosamente para minimizar nuestro impacto en el planeta. Creemos en la responsabilidad compartida de proteger nuestro hogar y nuestras futuras generaciones.</p>
        
        <p><strong>Amigabilidad:</strong> En Jimenisima, no solo nos preocupamos por la satisfacción de nuestros clientes, sino que también valoramos cada interacción humana. Nuestra amigabilidad y atención al cliente excepcionales se suman a la experiencia positiva que ofrecemos. Estamos aquí para escuchar, entender y hacer que te sientas parte de nuestra comunidad.</p>
        
        <p>Navega por nuestro sitio y descubre cómo estos pilares se traducen en productos y servicios que marcan la diferencia. Gracias por unirte a nosotros en este emocionante viaje hacia un mundo mejor.</p>
    </div>
    <%- include('./partials/footer',) %>
  </body>

</html>