<!DOCTYPE html>
<html>
    
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header',) %>
    <%- include('./partials/login',) %>
    <%- include('./partials/footer',) %>
  </body>
