<!DOCTYPE html>
<html>
  <%- include('./partials/head',{title : 'Jimenisima' }) %>
  <body>
    <%- include('./partials/header',{title : 'Jimenisima' }) %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
