.product-card{
    display: flex;
    gap: 6px;
    padding: 6px;
    /* width: 120px; */
    /* height: 217px; */
    flex-direction: column;
    background: hwb(0deg 100% 0% / 25%);
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.image-container{
    width: 120px;
    height: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image{
    max-width: 120px;
    max-height: 120px;
}
.product-name{
    font-size: small;
}
.product-price{
    font-size: large;
}
.addToCart-button{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: var(--primary-color);
}