.divBanner{
    min-height: 95px;
    display: flex;
    background-color: hotpink;
    justify-content: space-evenly;
    align-items: center;
}
.divBannerIcon{font-size: -webkit-xxx-large;display: inline;}
.divBannerText{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divBannerTextSpan{
    font-size: larger;
    align-content: center;
}
.divBannerTextP{text-align: center;font-size: small;}


@media(width <= 320px){
    .divBanner{}
    .divBannerIcon{}
    .divBannerTextSpan{
        display: none;
    }
    .divBannerTextP{
        display: none;
    }
}

@media(width <= 768px){
    .divBannerTextP{
        display: none;
    }
}