.JimenisimaFooter{
    margin-top: auto;
    background: var(--primary-color);
}
.commentBox{
    padding: 6px;
    display: flex;
    gap: 6px;
    justify-content: space-between;
}
.infoBox{
    display: flex;
    padding: 6px;
    gap: 12px;
    flex-direction: row;
    justify-content: space-evenly;
}
.commentInputBox{
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.commentInputTitle{}
.commentInputName{
    background-color: var(--background-color);
    color: var(--primary-color);
}
.commentInputContent{
    background-color: var(--background-color);
    color: var(--primary-color);
}
.footerSection{
    /* width: 125px; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.footerSectionTitle{font-size: 9px;font-weight: 600;}
.footerSectionListItem{
    font-size: 10px;
}
.footerSectionListItemItem{}
.footerSectionList{}
.footerCredits{
    display: flex;
    justify-content: center;
    font-size: x-small;
    padding: 6px;
}

@media(width < 320px){
     .footerSectionList{font-size: x-small;}
}

@media(width >= 768px){
    .infoBox{
  }

}
