.Jimenisima-footer{
    
}
.comment-box{
    padding: 6px;
    display: flex;
    gap: 6px;
    justify-content: space-between;
}
.info-box{
    display: flex;
    padding: 6px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
}
.comment-inputBox{
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.comment-input-title{}
.comment-input-name{}
.comment-input-content{}
.footer-section{
    width: 211px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.footer-section-title{
    /* padding: 0px 0px 0px 6px; */
    font-size: larger;
}
.footer-section-list-item{}
.footer-section-list-item-item{}
.footer-section-list{font-size:medium;}
.footer-credits{
    display: flex;
    justify-content: center;
    font-size: x-small;
    padding: 6px;
}

@media(width < 320px){
     .footer-section-list{font-size: x-small;}
}

@media(width <= 768px){
    .info-box{
  justify-content: flex-start;
  }

}
