.JimenisimaFooter{
    background: var(--primary-color);
}
.commentBox{
    padding: 6px;
    display: flex;
    gap: 6px;
}
.infoBox{
    display: flex;
    padding: 6px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
}
.commentInputBox{
    display: flex;
    gap: 6px;
    flex-direction: column;
}
.commentInputTitle{}
.commentInputName{}
.commentInputContent{}
.footerSection{
    width: 211px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.footerSectionTitle{
    /* padding: 0px 0px 0px 6px; */
    font-size: larger;
}
.footerSectionListItem{}
.footerSectionListItemItem{}
.footerSectionList{font-size:medium;}
.footerCredits{
    display: flex;
    justify-content: center;
    font-size: x-small;
    padding: 6px;
}

@media(width < 320px){
     .footerSectionList{font-size: x-small;}
}

@media(width <= 768px){
    .infoBox{
  justify-content: flex-start;
  }

}
