.formulary-main{
    background-color: var(--background-color);
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.formulary-form{
    background-color: var(--primary-color);
    width: 300px;
    display: flex;
    padding: 6p;
    flex-direction: column;
    align-items: flex-end;
}
.formulary-form-label-input{
    background-color: var(--background-color);
--font-color: var(
    --primary-color);
    padding: 3px;
}
.formulary-form-label{padding: 6px 6px 0px 6px;}
.formularyLabel2{font-size: x-small;padding: 6px 6px 0px 6px;}
.formulary-form-button{
    font-size: large;
    width: 100%;
    background-color: var(--secundary-color);
    margin: 6px 0px 0px 0px;
}
.formulary-a{
    text-align: center;
    width: 300px;
    background-color: var(--secundary-color);
    font-size: large;
}