.formularyMain{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.formularyMain{
    background-color: var(--background-color);
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.formularyForm{
    background-color: var(--primary-color);
    width: 300px;
    display: flex;
    padding: 6p;
    flex-direction: column;
    align-items: flex-end;
}
.formularyInput{
    background-color: var(--background-color);
--font-color: var(
    --primary-color);
    padding: 3px;
}
.formularyLabel{padding: 6px 6px 0px 6px;}
.formularyLabel2{font-size: x-small;padding: 6px 6px 0px 6px;}
.formularyButton{
    font-size: large;
    width: 100%;
    background-color: var(--secundary-color);
    margin: 6px 0px 0px 0px;
}
.formularyHref{
    text-align: center;
    width: 300px;
    background-color: var(--secundary-color);
    font-size: large;
}