*{
    border-style: none;
    margin: 0;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : var(--font-color);
    text-decoration: none;
    list-style: none;
}
body{
    min-height: 100dvh;
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
}

::placeholder {
    color: black
  }