*{
    border-style: none;
    margin: 0;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : var(--font-color);
    text-decoration: none;
    list-style: none;
}
body {
    min-height: 100vh;
    background: linear-gradient(to top, var(--secundary-color), var(--primary-color));
}
main {
    padding: 10px;
}
.mainPage {
    background: linear-gradient(to bottom, var(--secundary-color), var(--primary-color));

}