.jimenisimaHeader{
    padding: 6px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}
.userIngressDiv{
    display: flex;
}
.userIngressOptionsDiv{
    padding-top: 12px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}.GoogleAuthImgContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GoogleAuthContent {
    position: absolute;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.GoogleAuthRoute {font-size: xx-small;}

.userDefaultImg {
    /* border: 1px solid gray; */
    width: 80px;
    border-radius: 40px;
}
.GoogleAuthContentPath{}
.loginPath{}
.loginText{
    font-size: large;
}
.registerText{
    font-size: small;
    position: relative;
}
.registerPath{}
.logoImg{}
.HomePath{}
.logoImg{width: 80px;}