.highlightContainer{
    /* margin: 6px 0px 0px 0px; */
    background-color: var(--background-color);
}

.highlightTitle{
    background-color: var(--secundary-color);
    padding: 6px;
    font-size: larger;
}