.loginMain{
    background-color: var(--background-color);
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
}
.loginForm{
    background-color: var(--primary-color);
    width: 300px;
    display: flex;
    padding: 6p;
    flex-direction: column;
    align-items: flex-end;
}
.loginInput{}
.loginLabel{padding: 6px 6px 0px 6px;}
.loginButton{
    font-size: large;
    width: 100%;
    background-color: var(--secundary-color);
    margin: 6px 0px 0px 0px;
}
.loginHref{
    text-align: center;
    width: 300px;
    background-color: var(--secundary-color);
}