.resultsContainer{
    background-color: var(--background-color);
}
.searchesList{
    padding: 6px;
    display: flex;
    gap: 5px;
}
.searchesItem{
    display: flex;
    gap: 12px;
    border-radius: 20px;
    background-color: var(--secundary-color);
    padding: 2px 6px;
    font-size: small;
}
.searchesTerm{}
.searchesTermDelete{background-color: var(--secundary-color);}
.resultsList{
    display: flex;
    padding: 6px;
    gap: 6px;
    overflow: scroll;
    overflow-y: hidden;
    /* flex-wrap: wrap; */
}