<div class="resultsContainer">
    <ul class="searchesList">
        <li class="searchesItem"><p class="searchesTerm">fire</p><button class="searchesTermDelete">x</button></li> 
        <li class="searchesItem"><p class="searchesTerm">pokemon</p><button class="searchesTermDelete">x</button></li> 
        <li class="searchesItem"><p class="searchesTerm">criminal</p><button class="searchesTermDelete">x</button></li> 
    </ul>
    <ul class="resultsList">
        <%- include('article') %>
        <%- include('article') %>

        <%- include('article') %>

    </ul>
</div>